/* General style tweaks */
body {
  padding-top: 50px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container > header {
  margin-bottom: 50px;
}

h1 a, h1 a:hover {
  color: #333;
}

h1 a:hover {
  text-decoration: none;
}

section {
  margin-bottom: 50px;
}

section .title {
  margin-bottom: 20px;
}

/* Post specific styling */
article, .comment {
  margin-bottom: 50px;
}

article header {
  padding-bottom: 10px;
}

article header h1 {
  font-size: 26px;
}

article footer {
  padding-top: 20px;
}

article .content {
  line-height: 2;
}

.comment blockquote {
  font-size: 14px;
}
